version: '3.8'
services:
  store_api:
    container_name: 'store_api'
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - TZ=Asia/Bangkok
    ports:
      - '8080:8080'   #follow you port
    volumes:
      - '/home/istad/devops-spring-deployment/api/images:/app/filestorage/images/'
